{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %} 
    {{ super() }}
    Bienvenido 
{% endblock %}

{% block content %}
    {% if user_ip %}
        <h1>Hola, soy la lista de tarea de la IP: {{user_ip}} </h1> 
        <ul>
            {% for todo in todos %}
                {{ macros.render_todo(todo) }}
            {% endfor %}
        </ul>  
    {% else %}
    <a href=" {{ url_for('index') }} "> Ir al inicio de la pagina </a>
    {% endif %}
    

{% endblock %}




